{% extends "layouts/default.html" %}

{% block title %} Rock & Roll Charts {% endblock title %}

{% block stylesheets %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <h4 class="page-title">Moulding Charts</h4>
        <div class="page-category">Data charts for the Moulding Machine.</div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Latest Moulding Recipe Setting</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <table id="reinhardt_setting_table">
                                <tr>
                                    <th>ARM</th>
                                    <th>RECIPE_NO</th>
                                    <th>TEMPERATURE</th>
                                    <th>SPEED</th>
                                    <th>HEAT</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Search Option</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <div class="row">
                                <div class="col-sm" id="date_choose">
                                    <input id="search_date" type="option selected" class="form-control"
                                           placeholder="Choose a date first" autocomplete="off">
                                </div>
                                <div class="col-sm dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" style="width: 80%;">Recipe Name
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                         id="recipes_dropdown">
                                    </div>
                                </div>
                                <div class="col-sm dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" style="width: 80%;">Number made that day
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                         id="number_dropdown">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Serial Number</h4>
                                    <div class="row col-sm">
                                        <input id="serial_day" type="text" disabled="true"
                                               placeholder="Julian Day" style="text-align: center">
                                        <b class="caret-serial">-</b>
                                        <input id="serial_year" type="text" disabled="true"
                                               placeholder="Year" style="text-align: center">
                                        <b class="caret-serial">-</b>
                                        <input id="serial_recipe" type="text" disabled="true"
                                               placeholder="Product (#Recipe)" style="text-align: center">
                                        <b class="caret-serial">-</b>
                                        <input id="serial_number" type="text" disabled="true"
                                               placeholder="Which one" style="text-align: center">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="btn btn-primary" type="button" aria-haspopup="true"
                                            aria-expanded="false" style="width: 100%;" id="search_button">Search
                                    </button>
                                </div>
                                {#                                <h1>&nbsp&nbsp&nbsp&nbsp</h1>#}
                                {#                                <div id="loading" class="spinner-border text-primary" role="status"#}
                                {#                                     style="visibility: hidden">#}
                                {#                                    <span class="sr-only">Loading...</span>#}
                                {#                                </div>#}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Oven Temperature</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="rh_OT_line_chart_parent">
                            <canvas id="rh_OT_line_chart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Arm One</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="arm1_line_chart_parent">
                            <canvas id="arm1_line_chart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Arm Two</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="arm2_line_chart_parent">
                            <canvas id="arm2_line_chart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Arm Three</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="arm3_line_chart_parent">
                            <canvas id="arm3_line_chart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Arm Four</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="arm4_line_chart_parent">
                            <canvas id="arm4_line_chart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/assets/js/reinhardt.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/assets/js/reinhardt_search.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/assets/js/k-kord.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/assets/js/k-kord_search.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        {#debugger;#}
        var Data = {
            {#-------Oven_Temperature_PV--------#}
            ot_dates:{{ ot_times|tojson }},
            ot_temperatures:{{ ot_temperatures|tojson }},
        };

        //Fill latest date into the date picker
        let latest_date = Data.ot_dates.split("_")[0].split(" ")[0].split("-");
        document.getElementById("search_date").placeholder = "Latest day:  " + latest_date[0] + "-" + latest_date[1] + "-" + latest_date[2];

        plotGraphs(Data.ot_dates, Data.ot_temperatures);

        //Display reinhardt setting
        plotReinhardtSetting({{ arm_recipe_data }}, {{ recipe_settings }});
        search_arm_by_date(latest_date[0] + "-" + latest_date[1] + "-" + latest_date[2], 1);
        search_arm_by_date(latest_date[0] + "-" + latest_date[1] + "-" + latest_date[2], 2);
        search_arm_by_date(latest_date[0] + "-" + latest_date[1] + "-" + latest_date[2], 3);
        search_arm_by_date(latest_date[0] + "-" + latest_date[1] + "-" + latest_date[2], 4);

        function JulianDate(day, month, year) {
            const hasTimestamp = new Date(year, month - 1, day) - new Date(year);
            //console.log(new Date(year, month - 1, day) + " + " + new Date(year));
            const hasDays = Math.ceil(hasTimestamp / 86400000) + 1;
            return hasDays;
        }

        $('#date_choose input').datepicker({
            language: "en-NZ",//set location to NZ
            autoclose: true,//auto close
            format: "dd-mm-yyyy",//date show format
            orientation: "bottom auto",
        }).on('changeDate', function (ev) {

            let select_date = $('#search_date').val();
            let select_day = select_date.split("-")[0];
            let select_month = select_date.split("-")[1];
            let select_year = select_date.split("-")[2];

            let julian_day = JulianDate(select_day, select_month, select_year);
            document.getElementById("serial_day").value = julian_day.toString();
            document.getElementById("serial_year").value = select_year;


            let XHR = new XMLHttpRequest();
            let parameter = {};
            parameter['date'] = select_date;
            let pay_load = {"parameter": parameter};
            XHR.open('POST', '/api/reinhardt/get_recipe');
            XHR.setRequestHeader('content-type', 'application/json');
            XHR.send(JSON.stringify(pay_load));

            let recipes_select = document.getElementById("recipes_dropdown");
            while (recipes_select.hasChildNodes()) {
                recipes_select.removeChild(recipes_select.firstChild);
            }
            let number_select = document.getElementById("number_dropdown");
            while (number_select.hasChildNodes()) {
                number_select.removeChild(number_select.firstChild);
            }


            let serial_number = document.getElementById("serial_number");
            serial_number.value = "";
            serial_number.text = "1";
            let serial_recipe = document.getElementById("serial_recipe");
            serial_recipe.value = "";
            serial_recipe.text = "1";

            XHR.onreadystatechange = function () {
                //if Response finish and success
                if (XHR.readyState === 4 && XHR.status === 200) {
                    if (XHR.responseText && !(XHR.responseText === '0')) {
                        let result = XHR.responseText.split('_');

                        for (let i = 0; i < result.length; i++) {
                            let recipe = document.createElement('a');
                            recipe.text = recipe.value = result[i];
                            recipe.setAttribute("class", "dropdown-item");
                            recipe.setAttribute("href", "#");
                            recipes_select.appendChild(recipe);
                        }


                        let recipe = document.createElement('a');
                        recipe.text = recipe.value = "All";
                        recipe.setAttribute("class", "dropdown-item");
                        recipe.setAttribute("href", "#");
                        recipes_select.appendChild(recipe);
                    } else {
                        alert("No recipe on that day!");
                        document.getElementById("serial_recipe").value = "";
                        document.getElementById("serial_number").value = "";
                    }
                }
            };

        });

        document.getElementById("recipes_dropdown").addEventListener("click", function (event) {
            //console.log(event);
            let serial_recipe = document.getElementById("serial_recipe");
            serial_recipe.value = event.toElement.value;
            serial_recipe.text = "2";

            let number_select = document.getElementById("number_dropdown");
            while (number_select.hasChildNodes()) {
                number_select.removeChild(number_select.firstChild);
            }

            let serial_number = document.getElementById("serial_number");
            serial_number.value = "";
            serial_number.text = "1";

            if (event.toElement.value === "All") {
                return;
            }

            //Query how many circles of that recipe.
            let XHR2 = new XMLHttpRequest();
            let result = {};
            result['date'] = $('#search_date').val();
            result['recipe'] = event.toElement.value;
            let pay_load = {"parameter": result};
            XHR2.open('POST', '/api/reinhardt/get_recipe_number');
            XHR2.setRequestHeader('content-type', 'application/json');  //先open再设置请求头
            XHR2.send(JSON.stringify(pay_load));


            XHR2.onreadystatechange = function () {
                //if Response finish and success
                if (XHR2.readyState === 4 && XHR2.status === 200) {
                    {#console.log(XHR.responseText);#}
                    if (XHR2.responseText && !(XHR2.responseText === '0')) {
                        let number = parseInt(XHR2.responseText);

                        for (let i = 1; i <= number; i++) {
                            let number = document.createElement('a');
                            number.text = number.value = i.toString();
                            number.setAttribute("class", "dropdown-item");
                            number.setAttribute("href", "#");
                            document.getElementById("number_dropdown").appendChild(number);
                        }
                        let number_all = document.createElement('a');
                        number_all.text = number_all.value = "All";
                        number_all.setAttribute("class", "dropdown-item");
                        number_all.setAttribute("href", "#");
                        document.getElementById("number_dropdown").appendChild(number_all);
                    }
                }
            };
            document.getElementById("number_dropdown").addEventListener("click", function (event) {
                //console.log(event);
                let serial_number = document.getElementById("serial_number");
                serial_number.value = event.toElement.value;
                serial_number.text = "1";
            });


        });

        document.getElementById("search_button").addEventListener("click", function (event) {

            if (document.getElementById("serial_recipe").value === "") {
                alert("Please select a recipe first!");
                return;
            } else if (document.getElementById("serial_recipe").value === "All") {
                // disable button
                {#$(this).prop("disabled", true);#}
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
                {#document.getElementById("loading").style = "visibility: visible";#}
                let select_date = $('#search_date').val();
                search_by_date(select_date);
                let date_format_for_arm = select_date.split("-")[2] + "-" + select_date.split("-")[1] + "-" + select_date.split("-")[0];
                search_arm_by_date(date_format_for_arm, 1);
                search_arm_by_date(date_format_for_arm, 2);
                search_arm_by_date(date_format_for_arm, 3);
                search_arm_by_date(date_format_for_arm, 4);
            } else if (document.getElementById("serial_number").value === "") {
                alert("Please select which circle of the recipe!");
                return;
            } else if (document.getElementById("serial_number").value === "All") {
                {#document.getElementById("loading").style = "visibility: visible";#}
                {#$(this).prop("disabled", true);#}
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
                let select_date = $('#search_date').val();
                search_by_date_recipe(select_date, document.getElementById("serial_recipe").value);
            } else {
                {#document.getElementById("loading").style = "visibility: visible";#}
                {#$(this).prop("disabled", true);#}
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
                let select_date = $('#search_date').val();
                search_by_date_recipe_number(select_date, document.getElementById("serial_recipe").value, document.getElementById("serial_number").value);
            }
        });
    </script>



{% endblock javascripts %}
